.demo{
  background-image:url("../images/AMB_1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.profile-img-container {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; 
    width: 150px;  
    margin-left: 25%;
    overflow: hidden;
    border-radius: 50%; 
    border: 2px solid #ddd; 
    background-color: fffdd0; 
  }
  
  .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
  }
  
  .status-indicator.active {
    background-color: green;
  }
  
  .status-indicator.inactive {
    background-color: grey;
  }
  
  .status-text {
    font-size: 1.2rem;
    color: black; 
  }

  .hidden {
    display: none;
  }
  
  .availability-buttons {
    margin-top: 1%;
    margin-left: 40%;
  }
  
  .availability-btn {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .available {
    background-color: lightgreen;
    border: 2px solid green;
  }
  
  .unavailable {
    background-color: lightcoral;
    border: 2px solid darkred;
  }
  
  .profile-card {
    margin-left: 30%;
    margin-top: 20px;
  }
  
  .profile-card-body {
    background-color: #fffdd0 !important;
    margin-top: 3%;
  }
    
  .profile-picture-card,
  .upcoming-rides-card,
  .update-profile-card,
  .verify-vehicle-card,
  .current-location-card {
    margin-left: 50px;
    margin-top: 20px;
  }
  
  .profile-picture-body,
  .upcoming-rides-body,
  .update-profile-body,
  .verify-vehicle-body,
  .current-location-body {
    margin-top: 20px;
    background-color: #fffdd0 !important;
  }
  
  .file-label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .upload-btn {
    margin-top: 20px;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .update-btn,
  .verify-btn {
    margin-top: 20px;
  }
  
  .map-container,
  .modal-map-container {
    width: 100%;
    height: 600px;
  }
  
  .directions-modal {
    padding: 20px;
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: #fffdd0; 
    position: relative; 
  }
  
  .close-btn {
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: none;
    z-index: 1; 
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .modal-title {
    font-size: 24px;
  }
  
  .start-navigation-btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }

  .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  @media (max-width: 900px) {
    .availability-buttons {
      margin-left: 5%;
      text-align: center;
    }
  
    .availability-btn {
      display: block;
      width: 100%;
      margin: 5px 0;
    }
  
    .profile-card {
      margin-left: 0;
      margin-top: 15%;
    }
  
    .profile-img-container {
      margin-left: 30%;
    }
    
    .profile-picture-card,
    .upcoming-rides-card,
    .update-profile-card,
    .verify-vehicle-card,
    .current-location-card {
      margin-left: 0;
      margin-top: 10px;
    }
  
    .profile-picture-body,
    .upcoming-rides-body,
    .update-profile-body,
    .verify-vehicle-body,
    .current-location-body {
      margin-top: 10px;
    }
  
    .file-label {
      font-size: 16px;
    }
  
    .upload-btn,
    .update-btn,
    .verify-btn {
      width: 100%;
      padding: 10px 0;
    }
  
    .map-container,
    .modal-map-container {
      height: 550px;
    }
  
    .modal-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .modal-title {
      font-size: 20px;
    }
  
    .start-navigation-btn {
      width: 70%;
      padding: 5px;
      font-size: 16px;
    }

    .directions-modal {
      padding: 20px;
      width: 90%;
      height: 80%;
      margin: auto;
      background-color: #fffdd0; 
      position: relative;
      margin-top: 30px;
    }
  }