/* Main application styles */
.App {
  text-align: center;
  background-image:url("./images/AMB_1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Styles for the application logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation styles for the logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styles for the app */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Link styles within the app */
.App-link {
  color: #8ded94;
}

/* Keyframes for spinning animation of the logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main content area styles */
.main-content {
  flex: 1;
  margin-top: 56px; /* Adjust based on navbar height */
  margin-bottom: 56px; /* Adjust based on footer height */
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for rows within the main content area */
.main-content .row {
  width: 100%;
}

/* Styles for cards within the row */
.main-content .row .card {
  width: 100%;
  height: 100%;
}

/* Fixed navbar at the top of the viewport */
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

/* Fixed footer at the bottom of the viewport */
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1030;
}

/* Button styles */
.btn {
  margin-bottom: 10px; 
}

/* Styles for input fields within a wrapper */
.input-wrapper .form-control {
  flex: 1; 
}

